/* Will be compiled down to a single stylesheet with your sass files */

body {
	background-color: rgb(242, 242, 242);
	line-height: 1.5;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	font-size: 12pt;
	-webkit-font-smoothing: antialiased;
	padding-right: 0px;
	padding-left: 0px;
}

@media (max-width: 767px) {
	.page-header {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	.container {
		/*
		margin-left: 1em;
		margin-right: 1em;
		*/
	}
}

.content {
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.header {
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJElEQVQIHWNkYGD4D8RwwARnARkqKipgLkjFfyAHTINEkDn/AdqSCj82ZpzdAAAAAElFTkSuQmCC
	) repeat;
	background-color: #999;
	margin: 0 0 2em 0;
	padding: 1.5em;
	border-bottom: solid 1px #999;
}
.header h1 {
	color: #FFF;
	margin:0;
}
.header a:link {
	color: #FFF;
}
.header a:visited {
	color: #FFF;
}

.post-footer {
	padding: 0.5em 1.0em;
	background-color: #EEE;
	border-top: solid 1px #FFF;
	border-left: solid 1px #DDD;
	border-right: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.category {
}

.category a {
	margin: 0 0.3em;
	background-color: #ead6d7;
	padding: 0.1em 0.5em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.category a:link {
	color: #e03c3f;
}
.category a:visited {
	color: #e03c3f;
}

.post-main .content {
	border: solid 1px #EEE;
	padding: 1em;
}

.summary {
	margin: 0 0 3em 0;
}
.summary .title {
	margin-bottom: 0;
}
.summary .content {
	border: solid 1px #EEE;
	padding: 1em;
}

.summary .content h1 {
	font-size: 35pt;
}

.summary .content h2 {
	font-size: 20pt;
}

.summary .title .date {
	margin: 0 0 0 1em;
	font-size: 10pt;
}

.summary .page-header {
	border: none;
	margin: 0;
}

.summary .page-header a {
}

.fb-comments {
	margin: 3em 0;
}
